
/* entete */

INPUT#rechok {
	background:		#D9C311;
}

#liens {
	color:			#D9C311;
}

DIV#b-haut-2 {
	background:		#D9C311;
}

/* commun */

A {
/*	color:			#D9C311; */
	color:			#DA8000;
}

.plaq-article-date {
	color:			#D9C311;
}

#rub-contenu, #art-contenu {
	background-image:	url(piquants-env.png);
}
#rub-contenu H1,
.plaq-article H2  {
	border-bottom-color:	#D9C311;
}

/* menu */

#page-menu LI SPAN:hover {
	border-bottom-color:	#D9C311;
}
LI.menu-current SPAN A {
	font-size:	120%;
/*	color:		#D9C311; */
	color:			#DA8000;
}
LI.menu-current, LI.menu-current * LI {
	background-color:		#D9D6BF !important;
}
