
/* entete */

INPUT#rechok {
	background:		#009687;
}

#liens {
	color:			#009687;
}

DIV#b-haut-2 {
	background:		#009687;
}

/* commun */

A {
	color:			#009687;
}

.plaq-article-date {
	color:			#009687;
}

/* contenus */

#rub-contenu, #art-contenu {
	background-image:	url(piquants-prot.png);
}
#rub-contenu H1,
.plaq-article H2  {
	border-bottom-color:	#009687;
}

/* menu */

#page-menu LI SPAN:hover {
	border-bottom-color:	#009687;
}
LI.menu-current SPAN A {
	font-size:	120%;
	color:		#009687;
}
LI.menu-current, LI.menu-current * LI {
	background-color:		#bdd6d4 !important;
}
