
/* entete */

INPUT#rechok {
	background:		#9D5FD9;
}

#liens {
	color:			#9D5FD9;
}

DIV#b-haut-2 {
	background:		#9D5FD9;
}

/* commun */

A {
	color:			#9D5FD9;
}

.plaq-article-date {
	color:			#9D5FD9;
}

#rub-contenu, #art-contenu {
	background-image:	url(piquants-anim.png);
}
#rub-contenu H1,
.plaq-article H2  {
	border-bottom-color:	#9D5FD9;
}

/* menu */

#page-menu LI SPAN:hover {
	border-bottom-color:	#9D5FD9;
}
LI.menu-current SPAN A {
	font-size:	120%;
	color:		#9D5FD9;
}
LI.menu-current, LI.menu-current * LI {
	background-color:		#ccbfd9 !important;
}
