/* globals */
@coul_decouverte: #660066;
@coul_observatoire: #336666;
@coul_protection_env: #3366ff;
@coul_protection_fs: #cc9900;
@coul_association: #660066;

@import "style.less";
@import "article.less";
@import "accueil.less";
@import "recherche.less";
@import "site.less";

body.prot a {
	color:	@coul_protection_fs;
}

body.obs a {
	color:	@coul_observatoire;
}

body.env a {
	color:	@coul_protection_env;
}

body.anim a {
	color:	@coul_decouverte;
}

body.asso a {
	color:	@coul_association;
}

@import "rubrique.less";
